

.leftContent {
    display: inline-block;
    vertical-align: top;
    width: 35%;
    text-align: left;
    height: 33px;
    margin-left: 64px;
}

.rightContent {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    text-align: left;
    vertical-align: top;
}





.icons {
    stroke-width: 1.25;
}

.liked {
    fill: red;
}

.unliked {
    fill: none;
}


.Container {
    display: block;
    vertical-align: top;
}
#productNameBlock {
    margin: 0 0 0 60px;
}

.leftContentBlock {
    margin: 0 0 0 60px;
    display: inline-block;
    vertical-align: middle;
}
.containerElement {
    display: inline-block;
    vertical-align: middle;
}


.productNameLabel {
    font-family: "Open Sams",sans-serif;
    font-size: 40pt;
    color: rgb(0 0 0);
}

.productPriceLabel {
    font-family: "Open Sams",sans-serif;
    font-size: 30pt;
    color: rgb(168 0 0);
    font-weight: bold;
    line-height:1.2;
}

#productDescription {
    font-family: "Open Sams",sans-serif;
    font-size: 20pt;
    font-weight: normal;
    text-align:left;
}
.amountTextBox {
    width: 154px;
    height: 66px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0 18 107);
    border-radius: 5px;
    font-size: 30px;
}

.Button {
    color:white;
    width: 362px;
    height: 66px;
    font-size: 30px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    background-color: #6CCC46;
    border: 2px;
    border-color: #6CCC46;
    border-radius: 15px;
    background-color: #6CCC46;
}



